<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="FILE_APP" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
    <File>${project.name}.log</File>
    <encoder>
      <pattern>${logging.ConversionPattern}</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy"/>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy"/>
  </appender>
  <logger name="org.mortbay" level="ERROR"/>
  <root level="DEBUG">
    <appender-ref ref="FILE_APP"/>
  </root>
</configuration>