<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="InstallationOverride.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <InstallationOverride.Properties.Settings>
            <setting name="MonitorName" serializeAs="String">
                <value>PrintPut Monitor</value>
            </setting>
            <setting name="PrinterPortName" serializeAs="String">
                <value>PrintPutPort:</value>
            </setting>
            <setting name="PrinterName" serializeAs="String">
                <value>PrintPut</value>
            </setting>
            <setting name="PrinterDriverName" serializeAs="String">
                <value>PrintPutDriver</value>
            </setting>
            <setting name="PrintPutExeFileName" serializeAs="String">
                <value>PrintPut.exe</value>
            </setting>
            <setting name="RedMon32FileName" serializeAs="String">
                <value>redmonnt.dll</value>
            </setting>
            <setting name="RedMon64FileName" serializeAs="String">
                <value>redmonnt-x64.dll</value>
            </setting>
        </InstallationOverride.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
